.vertical-center {
    min-height: 100%; 
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
.img-fluid {
    display: flex;
    max-width: 40%;
    height: auto;
    margin: 15px;
    margin-left: 30%
}

  #snake-info {
      margin: 2em;
  }
  
  #snake-container {
    max-width: 91%;
    border: 7px solid #28a745 !important;
    border-radius: 30px;
  }
  